{% extends 'base.html' %}
{% block content %}

<div id="wrapper">
	<div id="page-wrapper">
		<div id="page">
			<div id="wide-content">
               <ul class="messages">
    {% for message in messages %}
    <li style="color: #ee7600;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
					<h2>Shopper Account Login</h2>
                  <div class="main-content">
                    <p>
					 <form method="POST" action=''> {% csrf_token %}
                 <table>
                {{form.as_table}}
                       </table>
               <input class="button-style" type="submit" value="Submit">

            </form>
                   </p>


				</div>
			</div>
		</div>
	</div>
    </div>


{% endblock content %}