{% extends 'base.html' %}
{% block content %}

<div id="wrapper">
	<div id="page-wrapper">
		<div id="page">
			<div id="wide-content">

					<h2>Become a Shopper at Instacart!</h2>
                <div class="main-content">
                    <p>Earn money money shopping and delivering groceries</p>
                    <p>Become independent</p>


                    <p class="button-style"><a href="{% url shopperApply %}">Apply Now</a></p>


				</div>
			</div>
		</div>
	</div>
    </div>


{% endblock content %}
