
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Shopper Challenge</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="{{STATIC_URL}}css/instacart.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<img onclick="location.href='{% url shopperLand %}';" src="{{STATIC_URL}}media/images/instacart-logo.png" alt="logo" />
		</div>
		<div id="menu">
			<ul>
				<li>{% if login_name %}<a href="{% url shopperEdit id=login_id %}" accesskey="4" title="">Hi, {{login_name}}</a>{%else%}<a href="{% url shopperLogin %}" accesskey="4" title="">Login</a>{% endif %}</li>
                <li>{% if login_name %}<a href="{% url shopperLogout %}" accesskey="5" title="">Logout</a>{% endif %}</li>
			</ul>
		</div>
	</div>
    {% if messages %}
{% if messages %}

{% endif %}
{% endif %}
</div>

     <div id="pageContainer">

      {% block content %}
      {% endblock %}     
    
    </div>
   </div>
    </div>
<!--<div id="footer" class="container"></div>-->
</body>
</html>


