{% extends 'base.html' %}
{% block content %}

<div id="wrapper">
	<div id="page-wrapper">
		<div id="page">
			<div id="wide-content">

					<h2>Apply to be a Shopper</h2>
              <div class="main-content">
                    <p>

					 <form method="POST" action=''> {% csrf_token %}
                   <table>
                {{form.as_table}}
                       </table>
                <input class="button-style" type="submit" value="Submit">
            </form>

                   </p>


				</div>
			</div>
		</div>
	</div>
    </div>


{% endblock content %}
