{% extends 'base.html' %}
{% block content %}

<div id="wrapper">
    <div id="page-wrapper">
        <div id="page">
            <div id="wide-content">
                <center>
                    <h2>Become a Shopper at Instacart!</h2>
                        <p>Enjoy shopping, and get paid too. </p>
                        <p>Be part of revolutionizing the way people shop.</p>
                        <p class="button-style"><a href="{% url shopperApply %}">Apply Now</a></p>
                </center>
        </div>
    </div>
</div>
</div>


{% endblock content %}
